@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body {
	font-family: 'Open Sans', arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #000;
	background: #f3f3f3;
	font-size: 13px;
	line-height: 1.3;
  min-width: 320px;
}
.container {
  max-width: 1174px;
  min-width: 320px;
  margin: 0 auto;
}
header {
  height: 80px;
  background: #76c7c0;
  background-image: url(../img/top_bg_line.png);
  background-position-y: bottom;
  background-repeat: repeat-x;
}
.header__container {
  height: 80px;
}
.logo {
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 20px 0 0;
  float: left;
}
.logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.logo a span {
  font-size: 25px;
  font-weight: 400;
  text-transform: none;
}
.top-nav {
  height: 100%;
  margin: 0;
  padding-top: 24px;
  width: auto;
  float: right;
}
.top-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav__menu > li {
  margin: 0;
  padding: 10px 1px 12px;;
  width: auto;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.top-nav__menu > li > a{
  margin: 0;
  padding: 10px 19px 12px 29px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.top-nav__menu > li:hover > a {
  background: #e8645a;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
  -moz-box-shadow:    inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
  box-shadow:         inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
}
.top-nav__menu > li:hover > a::before{
  font-family: FontAwesome;
  content: "\f107";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.nav-submenu {
  display: none;
  position: absolute;
  top: 49px;
  left: 0;
  background: #e2534b;
  border-radius: 6px;
  width: 200px;
  height: auto;
  z-index: 100;
}
.nav-submenu::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #e2534b transparent;
  z-index: 10;
}
.top-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-submenu li {
  width: 100%;
  display: inline-block;
  padding: 5px;
}
.top-submenu li a {
  display: block;
  width: auto;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  background: #e5655d;
  border-radius: 3px;
}
.slider-block {
  position: relative;
}
.slider-block__item {
  position: relative;
}
.slider__inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider__inner--red {
  top: 20%;
  margin: 0;
  padding: 0;
  background: #e2534b;
  width: auto;
  height: auto;
  border-radius: 4px;
}
.slider__inner--red p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin: 0;
  padding: 5px 8px 5px 14px;
}
.slider__inner--transparent {
  top: 38%;
  margin: 0;
  padding: 0;
  background: rgba(30, 32, 41, 0.7);
  width: auto;
  height: auto;
  border-radius: 4px;
}
.slider__inner--transparent p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  margin: 0;
  padding: 14px 37px 18px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 50px;
  height: 60px;
  background: #e8645a;
  border: none;
  font-size: 0;
  -webkit-box-shadow: inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
  -moz-box-shadow:    inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
  box-shadow:         inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
}
.slick-prev.slick-arrow  {
  left: 0;
  border-radius: 0 4px 4px 0;
}
.slick-next.slick-arrow  {
  right: 0;
  border-radius: 4px 0 0 4px;
}
.slick-prev.slick-arrow::after {
  font-family: FontAwesome;
  font-size: 24px;
  color: #fff;
  content: "\f100";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}
.slick-next.slick-arrow::after {
  font-family: FontAwesome;
  font-size: 24px;
  color: #fff;
  content: "\f101";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -12px;
  margin-right: -12px;
}
.slider-block__dots {
  height: 51px;
  width: auto;
  text-align: center;
}
.slick-dots {
  list-style: none;
  margin: 0 auto;
  padding-top: 16px;
}
.slick-dots li {
  width: 60px;
  height: 5px;
  background: #b0b8b9;
  margin-right: 8px;
  padding: 0;
  display: inline-block;
}
.slick-dots li.slick-active {
  background: #e2534b;
}
.slick-dots li button {
  display: none;
}
.service-block {
  margin-bottom: 75px;
}
.service-block__top-service {
  background: #ececec;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 28px 35px 26px 26px;
  margin-bottom: 45px;
}
.top-service__desc {
  display: inline-block;
}
.top-service__desc h2 {
  color: #7f8c8c;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.top-service__desc p {
  color: #777;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.btn {
  width: 200px;
  height: 54px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}
.btn:active {
  border: 1px solid #fff;
}
.btn--red {
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  background: #e8645a;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
  -moz-box-shadow:    inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
  box-shadow:         inset 0px -5px 2px 0px rgba(226, 83, 75, 1);
}
.btn--blue {
  background: #76c7c0;
  -webkit-box-shadow: inset 0px -5px 2px 0px rgba(98, 189, 189, 1);
  -moz-box-shadow:    inset 0px -5px 2px 0px rgba(98, 189, 189, 1);
  box-shadow:         inset 0px -5px 2px 0px rgba(98, 189, 189, 1);
}
.service-block__service-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item {
  position: relative;
  width: 270px;
  height: 310px;
  border-radius: 4px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 5px 2px 0px rgba(229, 230, 230, 1);
  -moz-box-shadow:    0px 5px 2px 0px rgba(229, 230, 230, 1);
  box-shadow:         0px 5px 2px 0px rgba(229, 230, 230, 1);
}
.service-item__title {
  margin: 0 0 35px;
  padding-top: 115px;
 }
.service-item__title a {
  padding-top: 77px;
  text-decoration: none;
  text-transform: uppercase;
  color: #7f8c8c;
  font-size: 16px;
  font-weight: 800;
  position: relative;
}
.service-item__title a::before {
  font-family: FontAwesome;
  font-size: 60px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -40px;
  margin-right: -40px;
}
.service-item__title--thumb a::before {
  content: "\f087";
  color: #e2534b;
}
.service-item__title--key a::before {
  content: "\f084";
  color: #62bdbd;
}
.service-item__title--flag a::before {
  content: "\f024";
  color: #62bdbd;
}
.service-item__title--flask a::before {
  content: "\f0c3";
  color: #62bdbd;
}
.service-item__desc {
  margin: 0;
  padding: 0 22px;
  font-size: 13px;
  color: #777;
  font-weight: 400;
  line-height: 20px;
}
.btn--read-more {
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  position: absolute;
  bottom: -27px;
  left: 50%;
  margin-left: -100px;
}
.promo-block {
  background: #ececec;
}